:root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
    --ion-text-color: rgba(0,0,0,0.87);

/* Colors */
    --blue:rgba(58,102,255,1.00);
    --brand:rgba(0,0,51,1.00);
    --red:rgba(255,75,60,1.00);
    --yellow: rgba(100,170,45,1.00);
    --green:rgba(100,170,45,1.00);

    --b5:rgba(0,0,0,0.05);
    --b10:rgba(0,0,0,0.10);
    --b17:rgba(0,0,0,0.17);
    --b17f:rgb(212,212,212);
    --b38:rgba(0,0,0,0.38);
    --b54:rgba(0,0,0,0.54);
    --b87:rgba(0,0,0,0.87);
    --w0:rgba(0,0,0,0.00);
    --w14:rgba(255,255,255,0.14);
    --w24:rgba(255,255,255,0.24);
    --w50:rgba(255,255,255,0.50);
    --w70:rgba(255,255,255,0.70);
    --wr:gba(255,255,255,1.00);
  }

  *{
    font-size: 16px;
    line-height: 24px;;
  }

  .header{
    display: flex;
    background: var(--brand);
    z-index: 9;
    height: 52px;
  }

  .w{
    background: var(--w);
    z-index: 5;
    color: var(--b87);
  }

  .shadow{
    box-shadow: 0px 1px 3px var(--b17);
  }

  .btn-ico{
      display: flex;
      width: 52px;
      height: 52px;
      background-color: var(--w0);
  }

  .btn{
    display: flex;
    width: auto;
    height: 52px;
    color: white;
    background-color: var(--w0);
    border-radius: 3px;
    padding:0px 12px;
    margin-bottom: 8px !important;
  }

  .bl{
    background-color: var(--blue);
    padding: 0px;
    margin: 0px 8px;
    --ion-color-base: var(--blue) !important;
  }

  .center *{
    margin:auto;
    display: block;
  }

  .logo{
    height: 48px; 
    margin:24px 24px 24px 24px;
  }

  /* ionic override */
  ion-item{
    --min-height:56px;
  }

  ion-button{
    min-height:56px; 
  }

  ion-label span{
    color: var(--b17);
  }

  ion-datetime, ion-note{
    color:var(--blue); 
    padding:0px;
    line-height: 20px;
  }

  ion-badge{
    font-size:12px;
    line-height: 16px;
    --background:var(--red);
  }

  menu-items{
    margin: auto 24px auto 24px !important;
  }

  h2 {
    font-size: 18px;
    color: var(--b54);
    font-weight: 400;
  }

  form{
    padding: 24px;
    margin-bottom: auto;
  }

  form label{
    font-size:14px;
    color:var(--b54);
    line-height: 20px;
    margin: 8px;
    display: block;
  }

  form a {
    font-size:16px;
    line-height: 20px;
    margin: 8px 0;
    display: block;
    text-align: center;
    padding: 16px 0;
    border-radius: 3px;
    text-decoration: underline;
  }

  input {
    height: 52px;
    border: 1px solid var(--b17);
    border-radius: 3px;
    width: 100%;
  }

  .fix-bot{
    position: fixed;
    bottom: 24px;
    width: calc(100% - 48px);
    left:24px;
  }

  .list-margin{
    margin: 0 24px auto 24px;
  }

  ion-tab-button{
    background: var(--b5);
  }

/* attendance card */
  .attendance-day-card {
    display: flex;
    min-height: 80px;
    box-shadow:inset 0px -1px var(--b17);
    justify-content: space-between;
    text-decoration: none;
  }

  .sunday{
    box-shadow:none;
  }

  .attendance-day-card:nth-child(1){
    margin-left: auto; 
    display: flex; 
  }

  .today {
    color: var(--red) !important;
    background: rgba(217,0,0,0.15);
    border-radius: 0.1px;
    box-shadow: 0px 0px 0px 4px rgba(217,0,0,0.15);
    /* width: 78px; */
    white-space: nowrap;
  }

  .att-cont-1 p{
    color: var(--b54); 
    font-size: 16px; 
    margin: 8px 0 0 12px;
  }

  .att-cont-1 div{
    display: flex; 
    margin: 12px 8px 8px 8px;
  }

  .att-cont-1 div:nth-child(1){ 
    height: 18px; 
    width: 18px; 
    border-radius: 50%; 
    margin:5px;
  }

  .att-cont-1 div p{
    color: var(--b87); 
    font-size: 18px; 
    margin: auto 0 auto 0;
  }

  .att-cont-2 div{
    height: 40px;
    width:36px;
    display:flex;
    margin:0 0 0 auto;
  }

  .att-cont-2 img{
    margin: auto;
  }

  .att-cont-2 p{
    font-size: 18px;
    margin: 8px 12px 12px 12px;
    line-height: 20px;
    color: var(--b87);
  }

  /* week div */

  .week-div {
    display: flex; 
    margin: 12px 4px 12px 4px;
    display: flex;
    justify-content: center;
  }

  .week-div div{
    height:6px; 
    width:6px; 
    transform: rotate(45deg);
    background: var(--b17); 
    margin: 0 auto;
  }

  /* item component */
  .item-comp {
    text-decoration: none;
    color: var(--b87);
    font-size:14px;
    line-height: 20px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    box-shadow: inset 0 -1px var(--b17f), 0 -1px var(--b17f);
    min-height: 56px;
    
  }

  .item-comp *{
    margin-top: auto;
    margin-bottom: auto; 
  }

  /* password */
  .password + .unmask {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  form p { position: relative; }